nav{
    background-image: url(../img/header.jpg);
    height: 650px;
    background-size: 1500px;
    
    /* background: rgb(105,90,164);
    background: linear-gradient(180deg, rgba(105,90,164,1) 0%, rgba(255,255,255,1) 94%);
    opacity: 0.5; */
    
}

#merenav{
    display: flex;
    width: 100%;
}

#enfantnav1{
    position: relative;
    left: 50px;
}

#enfantnav{
    display: flex;
    width: 50%;
    position: relative;
   left: 800px;
   top: 15px;
}

.navwrd{
    padding: 15px;
    font-weight: bold;
}

#nav{
    font-size: 30px;
    position: relative;
    left: 500px;
    top: 150px;
}

/* partie section 1
1
1
1 */

#sec1{
    display: flex;
    margin: 100px;
}

#enfant2sec1{
    width: 700px;
    font-size: x-large;
}

/* fin de la section 1 debut de la 2
2
2
2 */

#sec2enfant1{
    text-align: center;
}

#sec2enfant2{
    display: flex;
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
    
}

.sec2petitfils{
    margin: 30px;
    padding: 50px;
    border: solid black 2px;
}

/* fin de la section 2 debut de la 3
3 3
3
3 */

#sec3enfant1{
    text-align: center;
    margin-top: 150px;
}

#sec3enfant2{
    display: flex;
    justify-content: center;
}

.sec3petitfils{
    margin: 10px;
}

/* fin de la section 3 debut de la 4
4
4
4 */



